ul,
ol {
  list-style: none;
  margin: 0px;
  padding: 0px;
}


body {
    background-color: #E5E5E5;
    align-items: center;
    display: flex;
    justify-content: space-around;
    min-height: 777px;
    max-height: 888px;
}

.wrapper {
    background-color: grey;
    height: 763px;
    width: 661px;
    display: flex;
    justify-content: center;
}

.app {
    margin-top: 62px;
    margin-bottom: 62px;
}

.app__input {
    width: 500px;
    height: 61px;
    color: black;
    font-size: 38px;
    font-weight: 400;
}

.app__input::placeholder {
    color: black;
}

.app__search > li{
    /* width: 506px; */
    font-weight: 400;
    font-size: 30px;
    height: 44px;
    border: solid 1px;
    background-color: #E3E3E3;
    color: black;
    padding-left: 10px;
}

.app__search > li:hover {
    background-color: #65CDF9;
}

.app__search > li:active {
    background-color: #65CDF9;
}

.app__result {
    color: black;
    font-weight: 400;
    font-size: 24px;
    height: 101px;
    border: solid 1px;
    border-color: black;
    background-color: #E27BEB;
    
}
